@media (max-width:1199px) {
    .headerSlide .videoContent h1 {
        font-size: 90px;
        margin-top: 10px;
    }

    .brideImg .col {
        margin: 20px;
    }

    .placeInfo {
        width: 81%;
    }

    .placeInfo .icon img {
        margin-top: 20px;
        margin-bottom: 6px;
    }

    #gallerySection .container .row.galleryTitle {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .galleryImgHover {
        width: 88%;
        height: 91%;
    }

    .galleryImgHover i {
        margin-top: 115px;
        margin-left: 75px;
    }
}

@media (max-width:991px) {
    .headerSlide .videoContent h1 {
        font-size: 78px;
        margin-top: 10px;
    }

    #weddingDaySection .row .weddingDayInfo h3 {
        width: 100%;
        margin: 80px auto 0;
    }

    #weddingDaySection .row .weddingDayInfo h1 {
        font-size: 45px;
        margin-top: 15px;
    }

    #weddingDaySection .row .weddingDayInfo .weddingIcon img {
        width: 100px;
        margin-top: -25px;
    }

    #weddingDaySection .row .weddingDayInfo span {
        font-size: 45px;
    }

    #weddingDaySection .row .weddingDayInfo p {
        font-size: 16px;
        padding-top: 0px;
    }

    .loveImg1 img {
        margin-left: -55px;
    }

    .loveImg2 img {
        margin-left: -35px;
    }

    #testimonialSection .container .row.testimonialTitle {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    #peopleSection .container .row.peopleTitle {
        padding-top: 10px !important;
        padding-bottom: 0px !important;
    }

    .firstCarousel .owl-item h3 {
        font-size: 16px;
    }

    #peopleSection .row h1 {
        font-size: 70px;
    }

    #peopleSection .carousel2 img {
        width: 135px !important;
    }

    #peopleSection .carousel2 .owl-item .text h3 {
        font-size: 15px;
    }

    .placeInfo {
        width: 75%;
    }

    .placeInfo .icon img {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .placeInfo h3 {
        margin: 10px 0;
        font-size: 22px;
    }

    .placeInfo h5 {
        margin: 20px 0;
        font-size: 13px;
    }

    .placeInfo .btn {
        margin-bottom: 51px;
        margin-top: 16px;
    }

    #gallerySection .container .row.galleryTitle {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .galleryImgHover {
        width: 84%;
        height: 87%;
    }

    .galleryImgHover i {
        margin-top: 75px;
        margin-left: 40px;
    }
}

@media (max-width:767px) {
    .headerSlide .videoContent h1 {
        font-size: 78px;
        margin-top: 10px;
    }

    #flowerSection .container .col h1 {
        font-size: 85px;
    }

    #loveStoy .container .row.loveTitle {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .col1 {
        border-right: none;
        padding-right: 15px;
    }

    .loveImg1 img {
        margin-left: 10px;
        margin-top: -115px;
        width: 100px !important;
    }

    .col2 {
        border-left: none;
        padding-left: 15px;
    }

    .loveImg2 img {
        margin-top: -70px;
        margin-left: -115px;
        width: 100px !important;
    }

    #testimonialSection .container .row.testimonialTitle {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    #peopleSection .container .row.peopleTitle {
        padding-top: 10px !important;
        padding-bottom: 0px !important;
    }

    .firstCarousel .owl-item h3 {
        font-size: 23px;
    }

    #peopleSection .row h1 {
        font-size: 70px;
    }

    #peopleSection .carousel2 img {
        width: 105px !important;
    }

    #peopleSection .carousel2 .owl-item .text h3 {
        font-size: 15px;
    }

    .placeInfo {
        width: 89%;
    }

    #gallerySection .container .row.galleryTitle {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .galleryImgHover {
        width: 89%;
        height: 92%;
    }
}

@media (max-width:575px) {
    .headerSlide .videoContent h1 {
        font-size: 70px;
        margin-top: 20px;
    }

    #flowerSection .container .col h1 {
        font-size: 60px;
        margin-top: -65px;
    }

    .col1 {
        border-right: none;
        padding-right: 15px;
        padding-bottom: 80px;
    }

    .loveImg1 img {
        margin-left: 15px;
        margin-top: -155px;
        width: 90px !important;
    }

    .col2 {
        border-left: none;
        padding-left: 15px;
        padding-bottom: 70px;
    }

    .loveImg2 img {
        margin-top: -65px;
        margin-left: -110px;
        width: 90px !important;
    }

    #loveStoy .container .row.loveTitle {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    #testimonialSection .container .row.testimonialTitle {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    #peopleSection .container .row.peopleTitle {
        padding-top: 10px !important;
        padding-bottom: 0px !important;
    }

    .firstCarousel .owl-item h3 {
        font-size: 23px;
    }

    #peopleSection .row h1 {
        font-size: 70px;
    }

    #peopleSection .carousel2 img {
        width: 105px !important;
    }

    #peopleSection .carousel2 .owl-item .text h3 {
        font-size: 15px;
    }

    .placeInfo {
        width: 87%;
    }

    #gallerySection .container .row.galleryTitle {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .galleryImgHover {
        width: 95%;
        height: 96%;
    }

    .galleryImgHover i {
        margin-top: 330px;
        margin-left: 230px;
    }
}

@media (max-width:480px) {
    .headerSlide .videoContent h1 {
        font-size: 50px;
        margin-top: 10px;
    }

    #weddingDaySection .row .weddingDayInfo h3 {
        font-size: 18px;
        margin: 10px auto 0;
        width: 100%;
    }

    #weddingDaySection .row .weddingDayInfo h1 {
        font-size: 35px;
    }

    #weddingDaySection .row .weddingDayInfo h4 {
        font-size: 15px;
    }

    #weddingDaySection .row .weddingDayInfo span {
        font-size: 25px;
    }

    #weddingDaySection .row .weddingDayInfo p {
        font-size: 15px;
        padding-top: 5px;
    }

    #weddingDaySection .img-fluid {
        max-width: 100%;
        height: 440px;
    }

    #flowerSection .container .col h1 {
        font-size: 60px;
        margin-top: -50px;
    }

    #loveStoy .container .row.loveTitle {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .col1 {
        border-right: none;
        padding-right: 15px;
        position: relative;
        padding-bottom: 40px;
    }

    .loveImg1 img {
        margin-left: 20px;
        margin-top: -100px;
        width: 80px !important;
    }

    .col2 {
        border-left: none;
        padding-left: 15px;
        padding-bottom: 20px;
    }

    .loveImg2 img {
        margin-top: -40px;
        margin-left: -100px;
        width: 80px !important;
    }

    #testimonialSection .container .row.testimonialTitle {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .firstCarousel .owl-item h3 {
        font-size: 20px;
    }

    #peopleSection .container .row.peopleTitle {
        padding-top: 10px !important;
        padding-bottom: 0px !important;
    }

    #peopleSection .row h1 {
        font-size: 60px;
    }

    #peopleSection .carousel2 img {
        width: 85px !important;
    }

    #peopleSection .carousel2 .owl-item .text h3 {
        font-size: 15px;
    }

    .placeInfo {
        width: 89%;
    }

    #gallerySection .container .row.galleryTitle {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .galleryImgHover {
        width: 94%;
        height: 95%;
    }

    .galleryImgHover i {
        margin-top: 270px;
        margin-left: 185px;
    }

    #rsvpSection .container .row.rsvpTitle {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    #rsvpSection .row h1 {
        font-size: 50px;
    }
}

@media (max-width:360px) {
    .placeInfo {
        width: 83%;
    }

    .headerSlide video {
        height: 40vh;
    }

    .headerSlide .videoContent .icon img {
        display: none;
    }

    .headerSlide .videoContent {
        height: 40%;
    }

    #weddingDaySection .img-fluid {
        height: 100%;
        width: 100%;
    }

    #testimonialSection .col h1 {
        font-size: 50px;
    }

    #peopleSection .row h1 {
        font-size: 45px;
    }

    #placeSection .row h1 {
        font-size: 50px;
    }

    #rsvpSection .row h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }
}
